  .error{
             border:2px solid red;
}

.formWrapper{ 
    width:auto;
    height:100%;
    
    .row{
        @extend %row_position; 
        @import "about_Box";
         &:first-child{
        padding-top:4em;
             
    } 
       
        .form-group{
            padding:0.5em;
            margin-top:0.5em;
           
             .form-field {
                color:black;
                font-size:1.3rem;
                padding:1.5em;
               
            }
              ::-webkit-input-placeholder {
       color: black;
        }
        :-moz-placeholder { /* Firefox 18- */
       color: black;  
        }
        ::-moz-placeholder {  /* Firefox 19+ */
        color: black;  
       }
       :-ms-input-placeholder {  
      color: black;  
       }
            
            
        }   
           
        
      
         button{
         
               @extend %button;
            }
        
        .text{
            p:nth-child(1){
                text-align:left;
                font-size:1.3rem;
                padding:1em;
                line-height: 1.3em;
            }
            p:nth-child(2),  p:nth-child(3){
                text-align:left;
                font-size:1.4rem;
                padding:1em;
                font-weight: 900;
                line-height: 1.3em;
            }
             img{
            width:4em;
            height:4em;
                 margin:0.5em;
                 margin-left:2em;
        }
        }
    }
    
}

 .foot {
    width:auto;
    height:100%;
     padding:2em;
     .row{
       @extend %row_position;
         .box{
             padding:2em;
         img{
             margin:0 auto;
            width:18em;
           
        }
      }
    }
    
}
    