.our_team{
    width:auto;
    height:100%;
    
     .row{ 
         @extend %row_position;
         padding-top:2.5em;
         @import "about_Box";
            
            .leftArrow, .rightArrow{
                @extend %background_position;
                height:5em;
                background-image: url(../images/small_violet_shape.png);
                cursor:pointer;   
                img{
                   margin:auto;  
                   padding-top:2em;  
                }    
            }
            .two, .three{ //ukryte slajdy
                    display: none;
                }
                
            .slide{   
                margin:auto;
               .circle{
                width:8em;
                height:8em;
                background-color:#CDCDCD;
                border-radius:50%;
                margin:auto;
                }
                .textBox{
                  padding-bottom:2em;    
                  margin:auto;
                  text-align: center;
                  font-family:lato;
            
                     h2{
                      font-size:1.5rem;
                      color:#484848;
                       margin-top:0.5em;
                       }
                     h3{
                      font-size:1rem;
                      color:#ACACAC;      
                       margin-top:0.5em;
                       padding:0.5em;
                      }
        
                      img{
                      margin:auto;    
                      padding:0.5em;
                       }
                
                
                }
            
       
           }
     }
   
}