

.skills {
  width:auto;
  height:100%;
    .row {
       @extend %row_position;
       @import "about_Box";
        padding-top:4em;
        
         .container{
               width:23em;
               margin:auto;
               padding:2em;
               padding-bottom:4em;
               
                h2{
                    color:black;
                    font-size:1.5rem;
                    font-weight:bold;
                    font-family:lato, sans-serif;
                    padding:1.3em;
                    span { 
                      color:#484848;
                      font-weight:lighter;
                    }     
                }
                .progress{
                     height:1.5em;
                    .color{  
                      background: #9E459A;
                      color:  #9E459A;
                     } 
              
            }
          } 

        
    }
}

