.main {
  background-image: url("../images/main_picture-1.jpg");
  width: auto; }
  .main .row {
    margin: 0 auto;
    height: 50%;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box; }
  .main .mainTop .top {
    text-align: center;
    padding-top: 5em;
    color: white;
    font-family: lato, sans-serif;
    font-weight: lighter; }
    .main .mainTop .top img {
      margin: auto; }
    .main .mainTop .top h1 {
      font-size: 2.43rem; }
    .main .mainTop .top h2 {
      font-size: 1.37rem;
      padding-top: 1.5rem; }
  .main .mainBottom .topIkon, .main .mainBottom .midIkon {
    height: 13em; }
  .main .mainBottom .topIkon .boxLeft {
    width: 100%;
    height: 100%;
    background-image: url("../images/empty_shape.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
    .main .mainBottom .topIkon .boxLeft img {
      margin: auto;
      padding-top: 3em; }
    .main .mainBottom .topIkon .boxLeft p {
      color: white;
      text-align: center;
      padding-top: 1em; }
  .main .mainBottom .topIkon .boxRight {
    width: 100%;
    height: 100%;
    background-image: url("../images/violet_shape.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
    .main .mainBottom .topIkon .boxRight img {
      margin: auto;
      padding-top: 3em; }
    .main .mainBottom .topIkon .boxRight p {
      color: white;
      text-align: center;
      padding-top: 1em; }
  .main .mainBottom .midIkon .boxLeft {
    width: 100%;
    height: 100%;
    background-image: url("../images/empty_shape.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
    .main .mainBottom .midIkon .boxLeft img {
      margin: auto;
      padding-top: 3em; }
    .main .mainBottom .midIkon .boxLeft p {
      color: white;
      text-align: center;
      padding-top: 1em; }
  .main .mainBottom .midIkon .boxRight {
    width: 100%;
    height: 100%;
    background-image: url("../images/empty_shape.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
    .main .mainBottom .midIkon .boxRight img {
      margin: auto;
      padding-top: 3em; }
    .main .mainBottom .midIkon .boxRight p {
      color: white;
      text-align: center;
      padding-top: 1em; }
  .main .mainBottom .botIkon {
    height: 8em; }
    .main .mainBottom .botIkon .box {
      width: 100%;
      height: 100%;
      background-image: url("../images/empty_shape.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 4em; }
      .main .mainBottom .botIkon .box img {
        margin: auto;
        padding-top: 3.5em; }

.nav_section {
  width: auto; }
  .nav_section nav {
    width: 100%;
    height: 10%;
    font-family: lato;
    color: #8D8D8D;
    font-size: 1rem; }
    .nav_section nav .row {
      margin: 0 auto;
      height: 100%;
      width: 100%;
      max-width: 1200px;
      border: 1px solid white;
      box-sizing: border-box;
      color: #8D8D8D; }
      .nav_section nav .row [class*="col-"] {
        padding-top: 2em;
        padding-left: -2em;
        margin: 0 auto; }
      .nav_section nav .row .seven p {
        color: #9E459A; }
      .nav_section nav .row .nine p, .nav_section nav .row .ten p, .nav_section nav .row .twelve p {
        margin-left: -1.5em; }
  .nav_section .shapes {
    height: 90%;
    background-color: #EEEEEE; }
    .nav_section .shapes .row {
      margin: 0 auto;
      width: 100%;
      max-width: 1200px;
      height: 100%; }
      .nav_section .shapes .row .first .shape {
        background-image: url(../images/empty_violet_shape.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-top: 5em; }
        .nav_section .shapes .row .first .shape img {
          margin: auto;
          padding: 3em; }
      .nav_section .shapes .row .first .textBox h3 {
        margin-top: 3em;
        font-size: 1.5rem;
        color: #484848;
        text-align: center; }
      .nav_section .shapes .row .first .textBox p {
        margin-top: 2em;
        padding: 1em;
        padding-bottom: 8em;
        text-align: center;
        line-height: 1.5rem;
        color: #484848;
        font-size: 0.9rem; }
      .nav_section .shapes .row .second .shape, .nav_section .shapes .row .third .shape, .nav_section .shapes .row .four .shape {
        background-image: url(../images/empty_violet_shape.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-top: 5em; }
        .nav_section .shapes .row .second .shape img, .nav_section .shapes .row .third .shape img, .nav_section .shapes .row .four .shape img {
          margin: auto;
          padding: 3em; }
      .nav_section .shapes .row .second .textBox h3, .nav_section .shapes .row .third .textBox h3, .nav_section .shapes .row .four .textBox h3 {
        margin-top: 3em;
        font-size: 1.5rem;
        color: #484848;
        text-align: center; }
      .nav_section .shapes .row .second .textBox p, .nav_section .shapes .row .third .textBox p, .nav_section .shapes .row .four .textBox p {
        margin-top: 2em;
        padding: 1em;
        padding-bottom: 8em;
        text-align: center;
        line-height: 1.5rem;
        color: #484848;
        font-size: 0.9rem; }

.about {
  height: 100%;
  width: auto; }
  .about .row {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 100%; }
    .about .row .aboutBox {
      margin: 0 auto;
      padding: 1em; }
      .about .row .aboutBox .topL {
        width: 100%;
        height: 2em;
        background-image: url(../images/L-shape.png);
        background-repeat: no-repeat;
        background-position: left;
        transform: rotate(180deg); }
      .about .row .aboutBox .botL {
        width: 100%;
        height: 2em;
        background-image: url(../images/L-shape.png);
        background-repeat: no-repeat; }
      .about .row .aboutBox p {
        text-align: center;
        color: #8D8D8D;
        font-size: 3rem;
        padding: 0.3em; }
        .about .row .aboutBox p span {
          color: #9E459A; }
    .about .row .mockup img {
      padding: 2em;
      margin: 4em 0 4em 0; }
    .about .row .text {
      padding: 4em 0 4em 0; }
      .about .row .text p {
        font-size: 1.2rem;
        color: #8D8D8D;
        font-family: lato;
        line-height: 2em;
        text-align: left;
        padding: 1em; }
      .about .row .text button {
        width: 13em;
        height: 4em;
        background-color: #9E459A;
        border-radius: 1em;
        color: white;
        font-family: lato, sans-serif;
        font-size: 1.5rem;
        -moz-box-shadow: -0px -5px 0 0px #6B2E68 inset;
        -webkit-box-shadow: -0px -5px 0 0px   #6B2E68 inset;
        box-shadow: -0px -5px 0 0px #6B2E68 inset; }

.bottom_photo {
  background-image: url("C:/Users/rafalix/Coderslab/projekty/Bhaga/images/section_about_background_image.jpg");
  background-position: center;
  width: auto; }
  .bottom_photo .row {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px; }
    .bottom_photo .row .shape {
      padding: 3em;
      margin-top: 2em;
      background-image: url(../images/empty_shape.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
      .bottom_photo .row .shape img {
        margin: auto; }
    .bottom_photo .row .text {
      text-align: center;
      padding: 1em;
      margin-bottom: 1em;
      font-size: 2rem;
      color: white;
      font-family: lato; }

.our_team {
  width: auto;
  height: 100%; }
  .our_team .row {
    width: 100%;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px; }
    .our_team .row .aboutBox {
      margin: 0 auto;
      padding: 1em; }
      .our_team .row .aboutBox .topL {
        width: 100%;
        height: 2em;
        background-image: url(../images/L-shape.png);
        background-repeat: no-repeat;
        background-position: left;
        transform: rotate(180deg); }
      .our_team .row .aboutBox .botL {
        width: 100%;
        height: 2em;
        background-image: url(../images/L-shape.png);
        background-repeat: no-repeat; }
      .our_team .row .aboutBox p {
        text-align: center;
        color: #8D8D8D;
        font-size: 3rem;
        padding: 0.3em; }
        .our_team .row .aboutBox p span {
          color: #9E459A; }
    .our_team .row .leftArrow, .our_team .row .rightArrow {
      height: 5em;
      background-image: url(../images/small_violet_shape.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
      .our_team .row .leftArrow img, .our_team .row .rightArrow img {
        margin: auto;
        padding-top: 1.5em; }
    .our_team .row .circle {
      width: 9em;
      height: 9em;
      background-color: #CDCDCD;
      border-radius: 50%;
      margin: auto;
      margin-top: 2em; }
    .our_team .row .textBox {
      padding: 3em;
      padding-bottom: 8em;
      margin: auto;
      text-align: center;
      font-family: lato; }
      .our_team .row .textBox h2 {
        font-size: 1.5rem;
        color: #484848;
        margin-top: 1em; }
      .our_team .row .textBox h3 {
        font-size: 1rem;
        color: #ACACAC;
        margin-top: 1em;
        padding: 1em; }
      .our_team .row .textBox img {
        margin: auto;
        padding: 1em; }

.skils {
  width: 100%;
  height: auto; }
  .skils .row {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto; }
    .skils .row .aboutBox {
      margin: 0 auto;
      margin-top: 3em;
      padding: 1em; }
      .skils .row .aboutBox .topL {
        width: 100%;
        height: 2em;
        background-image: url(../images/L-shape.png);
        background-repeat: no-repeat;
        background-position: left;
        transform: rotate(180deg); }
      .skils .row .aboutBox .botL {
        width: 100%;
        height: 2em;
        background-image: url(../images/L-shape.png);
        background-repeat: no-repeat; }
      .skils .row .aboutBox p {
        text-align: center;
        color: #8D8D8D;
        font-size: 3rem;
        padding: 0.3em; }
        .skils .row .aboutBox p span {
          color: #9E459A; }
    .skils .row .container {
      width: 23em;
      margin: auto;
      padding: 2em; }
      .skils .row .container h2 {
        color: black;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: lato, sans-serif;
        padding: 1.3em; }
        .skils .row .container h2 span {
          color: #484848;
          font-weight: lighter; }
      .skils .row .container .progress {
        height: 1.5em; }
        .skils .row .container .progress .color {
          background: #9E459A;
          color: #9E459A; }

.services {
  width: auto;
  height: 100%;
  background-color: #EEEEEE; }
  .services .row {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto; }
    .services .row .digit {
      margin-top: 3em;
      margin-bottom: 3em;
      text-align: center;
      font-family: lato, sans-serif;
      border: 1px solid red; }
      .services .row .digit h3 {
        font-size: 15rem;
        color: red; }
      .services .row .digit p {
        font-size: 1rem;
        padding: 1em;
        color: #ACACAC; }
    .services .row .text {
      font-family: lato, sans-serif;
      color: #484848;
      text-align: center; }
      .services .row .text h2 {
        text-indent: 10px;
        font-size: 30px; }
      .services .row .text p {
        font-size: 17px;
        margin-top: 10px;
        font-weight: bold; }
      .services .row .text .spanBox {
        margin-left: -18px; }
        .services .row .text .spanBox span {
          box-sizing: border-box;
          display: inline-block;
          width: 11px;
          height: 11px;
          border-radius: 50%;
          border: 1px solid grey;
          margin-top: 20px;
          margin-left: -35px; }
          .services .row .text .spanBox span:nth-child(4) {
            background-color: #484848; }
    .services .row .circle {
      width: 15em;
      height: 15em;
      background-color: #CDCDCD;
      border-radius: 50%; }

.portfolio {
  width: auto;
  height: 100%;
  background-color: #FFFFFF; }
  .portfolio .row {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
       /* .first, .five, .nine{
            .container{
                margin-top:350px;
            
                .textBox{
                    width:270px;
                    height:100px;
                    text-align: center;
                    margin-left:50px;
                h2{
                  font-size:24px;
                    margin-top:15px;
                  }
                 p{
                    font-size:17px;
                     margin-top:10px;
                     color:#CDCDCD;
                    }   
                }
            }
        }
        .five{
            .container{
                margin-top:44px;
            }
        }
       .five, .six, .seven, .eight {
             .aboutBox{ Our skills box
          position:absolute;
          top:127px;
          left:465px;
          width:330px;
          height:115px;
          
            span{
             font-size:40px;
             color:#9E459A;
            }
           .verRight{
              margin-top:-0.12em;
              margin-left:8.1em;
              display: block;
            }
            .verLeft{  
               margin-top:40px;
               margin-left:-8px;
               display: block;
            }    
            .horRight{ 
               margin-top:-158px;
               margin-left:298px;
               display: block;
            }   
            .horLeft{
              display: block;
               margin-top:-38px;
               margin-left:0px;
            }
            p{
             color:#8D8D8D;
             font-size:37px;
             display:inline-block;    
              position:absolute;
                top:35px;
                left:38px;
                & span{
                    color:#9E459A;
                }    
                
              }
            }
           .rect {
               width:83px;
               height:38px;
               border:1px solid black;
               margin-left:-16px;
               margin-top:266px;
               border-radius:8px;
              
               p{
                   text-align: center;
                   font-size:21px;
                   margin-top:8px;
               }
           }
         }
        .five {
            .rect{
                background-color: #9E459A;
                border-color:#9E459A;
                color:white;
            }
        }
         
        .six {
            .rect{
                margin-left:5px;
            }
            button{
                width:228px;
                height:75px;
                background-color: #9E459A;
                border-radius:10px;
                margin-top:1000px;
                color:white;
                font-family:lato, sans-serif;
                font-size:19px;
                -moz-box-shadow: -0px -5px 0 0px #6B2E68 inset;

                -webkit-box-shadow: -0px -5px 0 0px   #6B2E68 inset;

                box-shadow: -0px -5px 0 0px #6B2E68 inset;
            }
        }
        .seven {
            .rect{
                margin-left:15px;
            }
            
        }
        
        .eight {
            .rect{
               margin-left:30px;
                width:93px;
            }
        }
       */ }
    .portfolio .row .aboutBox {
      margin: 0 auto;
      padding: 1em; }
      .portfolio .row .aboutBox .topL {
        width: 100%;
        height: 2em;
        background-image: url(../images/L-shape.png);
        background-repeat: no-repeat;
        background-position: left;
        transform: rotate(180deg); }
      .portfolio .row .aboutBox .botL {
        width: 100%;
        height: 2em;
        background-image: url(../images/L-shape.png);
        background-repeat: no-repeat; }
      .portfolio .row .aboutBox p {
        text-align: center;
        color: #8D8D8D;
        font-size: 3rem;
        padding: 0.3em; }
        .portfolio .row .aboutBox p span {
          color: #9E459A; }
    .portfolio .row .container .textBox {
      width: 270px;
      height: 100px;
      text-align: center; }
      .portfolio .row .container .textBox h2 {
        font-size: 24px; }
      .portfolio .row .container .textBox p {
        font-size: 17px;
        color: #CDCDCD; }
    .portfolio .row .rect {
      width: 83px;
      height: 38px;
      border: 1px solid black;
      border-radius: 8px; }
      .portfolio .row .rect p {
        text-align: center;
        font-size: 21px; }
    .portfolio .row .all {
      background-color: #9E459A;
      border-color: #9E459A;
      color: white; }
    .portfolio .row button {
      width: 228px;
      height: 75px;
      background-color: #9E459A;
      border-radius: 10px;
      color: white;
      font-family: lato, sans-serif;
      font-size: 19px;
      -moz-box-shadow: -0px -5px 0 0px #6B2E68 inset;
      -webkit-box-shadow: -0px -5px 0 0px   #6B2E68 inset;
      box-shadow: -0px -5px 0 0px #6B2E68 inset; }

body {
  height: 100%;
  font-family: lato, sans-serif;
  box-sizing: border-box; }

[class*="col-"] {
  border: 1px solid lightblue;
  min-height: 1em; }

/*
.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
   
}

/*[class*="col-"] {
    
    float: left;
    padding: 15px;
    border: 1px solid lightblue;
    min-height: 1px;
    box-sizing:border-box;
    height:100%;
    
}
/*
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media (max-width:900px){
    .col-1{
        width:20%   }
}
@media (max-width:400px){
    .col-1{
       width:70%; 
    }
    
}*/

/*# sourceMappingURL=bhaga.css.map */
