.main .mainBottom .topIkon .boxLeft img, .main .mainBottom .topIkon .boxRight img, .main .mainBottom .midIkon .boxLeft img, .main .mainBottom .midIkon .boxRight img {
  margin: auto;
  padding-top: 1.8em; }

.main .mainBottom .topIkon .boxLeft p, .main .mainBottom .topIkon .boxRight p, .main .mainBottom .midIkon .boxLeft p, .main .mainBottom .midIkon .boxRight p {
  text-align: center;
  padding: 0.5em; }

.main .mainBottom .topIkon .boxLeft, .main .mainBottom .topIkon .boxRight, .main .mainBottom .midIkon .boxLeft, .main .mainBottom .midIkon .boxRight, .main .botIkon .box, .nav_section .shapes .row .first .shape, .nav_section .shapes .row .second .shape, .nav_section .shapes .row .third .shape, .nav_section .shapes .row .four .shape, .bottom_photo .row .shape, .our_team .row .leftArrow, .our_team .row .rightArrow {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.nav_section nav .row, .nav_section .shapes .row, .about .row, .bottom_photo .row, .our_team .row, .skills .row, .services .infinite_slider .row, .portfolio .row, .form .row, .foot .row {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box; }

.portfolio .row button, .form .row button {
  width: 9em;
  height: 3em;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #9E459A;
  border-radius: 0.3em;
  color: white;
  font-family: lato, sans-serif;
  font-size: 1.2rem;
  -moz-box-shadow: -0px -5px 0 0px #6B2E68 inset;
  -webkit-box-shadow: -0px -5px 0 0px   #6B2E68 inset;
  box-shadow: -0px -5px 0 0px #6B2E68 inset; }

.main {
  background-image: url("../images/main_picture-1.jpg");
  width: auto;
  background-position: center; }
  .main .row {
    margin: 0 auto;
    height: 50%;
    width: 100%;
    max-width: 1200px; }
  .main .mainTop .top {
    margin: auto;
    margin-bottom: 2em;
    text-align: center;
    padding-top: 3em;
    color: white;
    font-family: lato, sans-serif;
    font-weight: lighter; }
    .main .mainTop .top img {
      margin: auto; }
    .main .mainTop .top h1 {
      font-size: 2.3rem; }
    .main .mainTop .top h2 {
      font-size: 1.3rem;
      padding-top: 1.5rem; }
  .main .mainBottom .topIkon, .main .mainBottom .midIkon {
    height: 9.2em; }
  .main .mainBottom .topIkon .boxLeft {
    background-image: url("../images/empty_shape.png"); }
    .main .mainBottom .topIkon .boxLeft p a {
      color: white; }
  .main .mainBottom .topIkon .boxRight {
    background-image: url("../images/violet_shape.png"); }
    .main .mainBottom .topIkon .boxRight p a {
      color: white; }
  .main .mainBottom .midIkon .boxLeft {
    background-image: url("../images/empty_shape.png"); }
    .main .mainBottom .midIkon .boxLeft p a {
      color: white; }
  .main .mainBottom .midIkon .boxRight {
    background-image: url("../images/empty_shape.png"); }
    .main .mainBottom .midIkon .boxRight p a {
      color: white; }
  .main .botIkon {
    height: 4.2em;
    margin-bottom: 2em; }
    .main .botIkon .box {
      background-image: url("../images/empty_shape.png");
      background-size: 4em; }
      .main .botIkon .box img {
        margin: auto;
        padding-top: 1.5em; }

.nav_section {
  width: auto; }
  .nav_section nav {
    width: 100%;
    height: 10%;
    font-family: lato;
    color: #8D8D8D;
    font-size: 1rem;
    z-index: 10; }
    .nav_section nav .row {
      color: #8D8D8D; }
      .nav_section nav .row [class*="col-"] {
        padding-top: 2em;
        padding-left: -2em;
        margin: 0 auto; }
      .nav_section nav .row .seven a {
        color: #9E459A; }
      .nav_section nav .row .nine a, .nav_section nav .row .ten a, .nav_section nav .row .twelve a {
        margin-left: -1.5em; }
  .nav_section .shapes .row .first .textBox h3, .nav_section .shapes .row .second .textBox h3, .nav_section .shapes .row .third .textBox h3, .nav_section .shapes .row .four .textBox h3 {
    margin-top: 3em;
    font-size: 1.5rem;
    color: #484848;
    text-align: center; }
  .nav_section .shapes .row .first .textBox p, .nav_section .shapes .row .second .textBox p, .nav_section .shapes .row .third .textBox p, .nav_section .shapes .row .four .textBox p {
    margin-top: 2em;
    padding: 1em;
    padding-bottom: 8em;
    text-align: center;
    line-height: 1.5rem;
    color: #484848;
    font-size: 0.9rem; }
  .nav_section .shapes {
    height: 90%;
    background-color: #EEEEEE; }
    .nav_section .shapes .row {
      padding-top: 5em; }
      .nav_section .shapes .row .first .shape {
        background-image: url(../images/empty_violet_shape.png);
        margin-top: 5em; }
        .nav_section .shapes .row .first .shape img {
          margin: auto;
          padding: 3em; }
      .nav_section .shapes .row .second .shape, .nav_section .shapes .row .third .shape, .nav_section .shapes .row .four .shape {
        background-image: url(../images/empty_violet_shape.png);
        margin-top: 5em; }
        .nav_section .shapes .row .second .shape img, .nav_section .shapes .row .third .shape img, .nav_section .shapes .row .four .shape img {
          margin: auto;
          padding: 3em; }

.about {
  height: 100%;
  width: auto; }
  .about .row {
    padding-top: 3em; }
    .about .row:first-child {
      padding-top: 4em; }
    .about .row .aboutBox {
      margin: 0 auto;
      padding: 1em; }
      .about .row .aboutBox .topL {
        width: 100%;
        height: 2em;
        background-image: url(../images/L-shape.png);
        background-repeat: no-repeat;
        background-position: left;
        transform: rotate(180deg); }
      .about .row .aboutBox .botL {
        width: 100%;
        height: 2em;
        background-image: url(../images/L-shape.png);
        background-repeat: no-repeat; }
      .about .row .aboutBox p {
        text-align: center;
        color: #8D8D8D;
        font-size: 3rem;
        padding: 0.3em; }
        .about .row .aboutBox p span {
          color: #9E459A; }
    .about .row .mockup img {
      padding: 2em;
      margin: 0 0 4em 0; }
    .about .row .text {
      padding: 0 0 4em 0; }
      .about .row .text p {
        font-size: 1.2rem;
        color: #8D8D8D;
        font-family: lato;
        line-height: 2em;
        text-align: left;
        padding: 1em; }
      .about .row .text button {
        width: 13em;
        height: 4em;
        background-color: #9E459A;
        border-radius: 1em;
        -moz-box-shadow: -0px -5px 0 0px #6B2E68 inset;
        -webkit-box-shadow: -0px -5px 0 0px   #6B2E68 inset;
        box-shadow: -0px -5px 0 0px #6B2E68 inset; }
        .about .row .text button a {
          color: white;
          font-family: lato, sans-serif;
          font-size: 1rem; }

.bottom_photo {
  background-image: url("C:/Users/rafalix/Coderslab/projekty/Bhaga/images/section_about_background_image.jpg");
  background-position: center;
  width: auto; }
  .bottom_photo .row .shape {
    padding: 3em;
    margin-top: 2em;
    background-image: url(../images/empty_shape.png); }
    .bottom_photo .row .shape img {
      margin: auto; }
  .bottom_photo .row .text {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 2rem;
    color: white;
    font-family: lato; }

.our_team {
  width: auto;
  height: 100%; }
  .our_team .row {
    padding-top: 2.5em; }
    .our_team .row .aboutBox {
      margin: 0 auto;
      padding: 1em; }
      .our_team .row .aboutBox .topL {
        width: 100%;
        height: 2em;
        background-image: url(../images/L-shape.png);
        background-repeat: no-repeat;
        background-position: left;
        transform: rotate(180deg); }
      .our_team .row .aboutBox .botL {
        width: 100%;
        height: 2em;
        background-image: url(../images/L-shape.png);
        background-repeat: no-repeat; }
      .our_team .row .aboutBox p {
        text-align: center;
        color: #8D8D8D;
        font-size: 3rem;
        padding: 0.3em; }
        .our_team .row .aboutBox p span {
          color: #9E459A; }
    .our_team .row .leftArrow, .our_team .row .rightArrow {
      height: 5em;
      background-image: url(../images/small_violet_shape.png);
      cursor: pointer; }
      .our_team .row .leftArrow img, .our_team .row .rightArrow img {
        margin: auto;
        padding-top: 2em; }
    .our_team .row .two, .our_team .row .three {
      display: none; }
    .our_team .row .slide {
      margin: auto; }
      .our_team .row .slide .circle {
        width: 8em;
        height: 8em;
        background-color: #CDCDCD;
        border-radius: 50%;
        margin: auto; }
      .our_team .row .slide .textBox {
        padding-bottom: 2em;
        margin: auto;
        text-align: center;
        font-family: lato; }
        .our_team .row .slide .textBox h2 {
          font-size: 1.5rem;
          color: #484848;
          margin-top: 0.5em; }
        .our_team .row .slide .textBox h3 {
          font-size: 1rem;
          color: #ACACAC;
          margin-top: 0.5em;
          padding: 0.5em; }
        .our_team .row .slide .textBox img {
          margin: auto;
          padding: 0.5em; }

.skills {
  width: auto;
  height: 100%; }
  .skills .row {
    padding-top: 4em; }
    .skills .row .aboutBox {
      margin: 0 auto;
      padding: 1em; }
      .skills .row .aboutBox .topL {
        width: 100%;
        height: 2em;
        background-image: url(../images/L-shape.png);
        background-repeat: no-repeat;
        background-position: left;
        transform: rotate(180deg); }
      .skills .row .aboutBox .botL {
        width: 100%;
        height: 2em;
        background-image: url(../images/L-shape.png);
        background-repeat: no-repeat; }
      .skills .row .aboutBox p {
        text-align: center;
        color: #8D8D8D;
        font-size: 3rem;
        padding: 0.3em; }
        .skills .row .aboutBox p span {
          color: #9E459A; }
    .skills .row .container {
      width: 23em;
      margin: auto;
      padding: 2em;
      padding-bottom: 4em; }
      .skills .row .container h2 {
        color: black;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: lato, sans-serif;
        padding: 1.3em; }
        .skills .row .container h2 span {
          color: #484848;
          font-weight: lighter; }
      .skills .row .container .progress {
        height: 1.5em; }
        .skills .row .container .progress .color {
          background: #9E459A;
          color: #9E459A; }

.services {
  width: auto;
  height: 100%;
  background-color: #EEEEEE; }
  .services .infinite_slider {
    height: 50em;
    overflow: hidden;
    position: relative;
    width: 100%; }
    .services .infinite_slider .slide {
      margin: 0 auto;
      position: absolute;
      opacity: 0;
      padding-left: 6em;
      animation-name: next-slide;
      animation-duration: 30s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite; }
    .services .infinite_slider .slide:first-child {
      animation-delay: 0s; }
    .services .infinite_slider .slide:nth-child(2) {
      animation-delay: 5s; }
    .services .infinite_slider .slide:nth-child(3) {
      animation-delay: 10s; }
    .services .infinite_slider .slide:nth-child(4) {
      animation-delay: 15s; }
    .services .infinite_slider .slide:nth-child(5) {
      animation-delay: 20s; }
    .services .infinite_slider .slide:nth-child(6) {
      animation-delay: 25s; }
@keyframes next-slide {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  30% {
    opacity: 0; } }
    .services .infinite_slider .row .digit {
      margin-top: 4em;
      text-align: center;
      font-family: lato, sans-serif; }
      .services .infinite_slider .row .digit h3 {
        font-size: 4rem; }
      .services .infinite_slider .row .digit p {
        font-size: 1.2rem;
        padding: 2em;
        color: #ACACAC; }
    .services .infinite_slider .row .circle {
      margin: auto;
      width: 10em;
      height: 10em;
      background-color: #CDCDCD;
      border-radius: 50%; }
    .services .infinite_slider .row .text {
      color: #484848;
      text-align: center;
      padding: 1em; }
      .services .infinite_slider .row .text h2 {
        font-size: 2rem; }
      .services .infinite_slider .row .text p {
        font-size: 1rem;
        margin-top: 1em;
        font-weight: bold;
        padding: 1em; }
    .services .infinite_slider .spanBox {
      padding: 2em;
      position: absolute;
      top: 35em;
      left: 30em; }
      .services .infinite_slider .spanBox span {
        display: inline-block;
        padding: 0.3em;
        margin-left: 1em;
        border-radius: 50%;
        border: 0.1em solid grey;
        animation-name: next-bullet;
        animation-duration: 30s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite; }
@keyframes next-bullet {
  0% {
    background-color: white; }
  10% {
    background-color: grey; }
  20% {
    background-color: white; } }
    .services .infinite_slider span:first-child {
      animation-delay: 0s; }
    .services .infinite_slider span:nth-child(2) {
      animation-delay: 5s; }
    .services .infinite_slider span:nth-child(3) {
      animation-delay: 10s; }
    .services .infinite_slider span:nth-child(4) {
      animation-delay: 15s; }
    .services .infinite_slider span:nth-child(5) {
      animation-delay: 20s; }
    .services .infinite_slider span:nth-child(5) {
      animation-delay: 25s; }

.portfolio {
  width: auto;
  height: 100%;
  background-color: #FFFFFF; }
  .portfolio .row .aboutBox {
    margin: 0 auto;
    padding: 1em; }
    .portfolio .row .aboutBox .topL {
      width: 100%;
      height: 2em;
      background-image: url(../images/L-shape.png);
      background-repeat: no-repeat;
      background-position: left;
      transform: rotate(180deg); }
    .portfolio .row .aboutBox .botL {
      width: 100%;
      height: 2em;
      background-image: url(../images/L-shape.png);
      background-repeat: no-repeat; }
    .portfolio .row .aboutBox p {
      text-align: center;
      color: #8D8D8D;
      font-size: 3rem;
      padding: 0.3em; }
      .portfolio .row .aboutBox p span {
        color: #9E459A; }
  .portfolio .row:first-child {
    padding-top: 4em; }
  .portfolio .row .rect {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 0.7em;
    width: 5em;
    border-radius: 8px;
    margin-left: -0.5em;
    margin-top: 2em;
    margin-bottom: 2em; }
    .portfolio .row .rect p {
      text-align: center;
      font-size: 1.3rem; }
  .portfolio .row .all {
    background-color: #9E459A;
    border-color: #9E459A;
    color: white; }
  .portfolio .row img {
    width: 18em;
    height: 18em;
    margin: 0 auto; }
  .portfolio .row .textBox {
    padding: 1em;
    margin: auto;
    text-align: center; }
    .portfolio .row .textBox h2 {
      font-size: 1.5rem; }
    .portfolio .row .textBox p {
      font-size: 1rem;
      color: #CDCDCD; }

.form {
  width: auto;
  height: 100%; }
  .form .row .aboutBox {
    margin: 0 auto;
    padding: 1em; }
    .form .row .aboutBox .topL {
      width: 100%;
      height: 2em;
      background-image: url(../images/L-shape.png);
      background-repeat: no-repeat;
      background-position: left;
      transform: rotate(180deg); }
    .form .row .aboutBox .botL {
      width: 100%;
      height: 2em;
      background-image: url(../images/L-shape.png);
      background-repeat: no-repeat; }
    .form .row .aboutBox p {
      text-align: center;
      color: #8D8D8D;
      font-size: 3rem;
      padding: 0.3em; }
      .form .row .aboutBox p span {
        color: #9E459A; }
  .form .row:first-child {
    padding-top: 4em; }
  .form .row .form-group {
    padding: 0.5em;
    margin-top: 0.5em; }
  .form .row .form-control {
    color: black;
    font-size: 1.3rem;
    padding: 1.5em;
    border: 1px solid #878787; }
  .form .row ::-webkit-input-placeholder {
    color: black; }
  .form .row :-moz-placeholder {
    /* Firefox 18- */
    color: black; }
  .form .row ::-moz-placeholder {
    /* Firefox 19+ */
    color: black; }
  .form .row :-ms-input-placeholder {
    color: black; }
  .form .row .text p:nth-child(1) {
    text-align: left;
    font-size: 1.3rem;
    padding: 1em;
    line-height: 1.3em; }
  .form .row .text p:nth-child(2), .form .row .text p:nth-child(3) {
    text-align: left;
    font-size: 1.4rem;
    padding: 1em;
    font-weight: 900;
    line-height: 1.3em; }
  .form .row .text img {
    width: 4em;
    height: 4em;
    margin: 0.5em;
    margin-left: 2em; }

.foot {
  width: auto;
  height: 100%;
  padding: 2em; }
  .foot .row .box {
    padding: 2em; }
    .foot .row .box img {
      margin: 0 auto;
      width: 18em; }

body {
  height: 100%;
  font-family: lato, sans-serif;
  box-sizing: border-box; }

[class*="col-"] {
  min-height: 1em; }

.sticky {
  position: fixed;
  top: 0;
  left: 0; }

/*# sourceMappingURL=bhaga.css.map */
