@charset "UTF-8";
.main {
  background-image: url("C:/Users/rafalix/Coderslab/projekty/Bhaga/images/main_picture-1.jpg");
  background-size: cover;
  background-position: center;
  height: 68.75em; }
  .main .grid {
    height: 100%;
    position: relative;
    width: 100%;
    max-width: 1200px;
    /*vertical - ustawianie w linii pionowej*/
    /*ustawianie w linii poziomej*/ }
    .main .grid .mid {
      /*┼Ťrodkowe kszta┼éty*/ }
      .main .grid .mid .box {
        position: absolute;
        top: 34em;
        width: 10.4em;
        height: 11.3em; }
        .main .grid .mid .box img {
          position: absolute; }
          .main .grid .mid .box img:nth-child(2) {
            top: 2.1em; }
        .main .grid .mid .box p {
          top: 6em; }
    .main .grid .bot {
      /*dolne kszta┼éty*/ }
      .main .grid .bot .box {
        position: absolute;
        top: 46.56em;
        width: 10.4em;
        height: 11.3; }
        .main .grid .bot .box img {
          position: absolute;
          top: 0.06em; }
          .main .grid .bot .box img:nth-child(2) {
            top: 2.1em; }
        .main .grid .bot .box p {
          top: 6em; }
    .main .grid .mid p, .main .grid .bot p {
      position: absolute;
      font-family: lato, sans-serif;
      font-size: 20px;
      color: white; }
    .main .grid .first .box img:nth-child(2) {
      left: 3.5em; }
    .main .grid .first .box p {
      left: 3em; }
    .main .grid .second {
      /*napisy*/ }
      .main .grid .second .container {
        position: absolute;
        top: 18.75em;
        left: 4.37em;
        width: 66.85em;
        height: 8.43em;
        border: 1px solid red; }
        .main .grid .second .container h1 {
          color: white;
          font-family: Lato(400), sans-serif;
          font-weight: lighter;
          font-size: 2.43em;
          margin-left: 6.5em; }
        .main .grid .second .container h2 {
          color: white;
          font-size: 1.37em;
          margin-left: 5em;
          padding: 1.25em;
          text-align: center; }
    .main .grid .third .box img:nth-child(2) {
      left: 3.5em; }
    .main .grid .third .box p {
      left: 3em; }
    .main .grid .four img {
      position: absolute;
      top: 7.81em;
      left: 22.5em; }
    .main .grid .five .box img:nth-child(2) {
      left: 3.62em; }
    .main .grid .five .box p {
      left: 2.6em; }
    .main .grid .seven .box img:nth-child(2) {
      left: 3.5em; }
    .main .grid .seven .box p {
      left: 2.6em; }
    .main .grid .six .box {
      position: absolute;
      top: 57.87em;
      left: 34.81em;
      width: 5.5em;
      height: 5.75em; }
      .main .grid .six .box img {
        position: absolute;
        width: 5.5em;
        height: 5.75em; }
      .main .grid .six .box #arrow {
        width: 2.18em;
        height: 1.25em;
        position: absolute;
        top: 2.5em;
        left: 1.56em; }
    .main .grid .nine .box img:nth-child(2) {
      left: 3.5em; }
    .main .grid .nine .box p {
      left: 3.25em; }
    .main .grid .eleven .box img:nth-child(2) {
      left: 3.5em; }
    .main .grid .eleven .box p {
      left: 2.7em; }

nav {
  width: 100%;
  height: 145px;
  position: relative;
  font-family: lato;
  color: #8D8D8D;
  font-size: 20px; }
  nav .row2 {
    height: 100%;
    max-width: 1200px; }
    nav .row2 .first img {
      position: absolute;
      top: 65px;
      left: 15px; }
    nav .row2 .six p {
      margin-top: 55px;
      margin-left: -15px; }
    nav .row2 .seven p {
      margin-top: 55px;
      margin-left: -25px; }
    nav .row2 .eight p {
      margin-top: 55px;
      margin-left: -31px; }
    nav .row2 .nine p {
      margin-top: 55px;
      margin-left: -55px; }
    nav .row2 .ten p {
      margin-top: 55px;
      margin-left: -37px; }
    nav .row2 .eleven p {
      margin-top: 55px;
      margin-left: 1px; }
    nav .row2 .twelve p {
      margin-top: 55px;
      margin-left: -18px; }

.container2 .row-3 .first .box2, .container2 .row-3 .four .box2, .container2 .row-3 .seven .box2, .container2 .row-3 .ten .box2 {
  position: relative;
  top: 168px;
  left: -15px;
  width: 295px;
  height: 415px; }

.container2 .row-3 .first .box2 h3, .container2 .row-3 .four .box2 h3, .container2 .row-3 .seven .box2 h3, .container2 .row-3 .ten .box2 h3 {
  position: absolute;
  top: 230px;
  left: 67px;
  color: #8D8D8D;
  font-size: 22px;
  font-family: lato; }

.container2 .row-3 .first .box2 p, .container2 .row-3 .four .box2 p, .container2 .row-3 .seven .box2 p, .container2 .row-3 .ten .box2 p {
  position: absolute;
  top: 260px;
  color: #8D8D8D;
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
  text-indent: 5px;
  line-height: 28px; }

.container2 {
  height: 800px;
  background-color: #EEEEEE; }
  .container2 .row-3 {
    width: 100%;
    max-width: 1200px;
    height: 100%; }
    .container2 .row-3 .first .box2 img {
      position: absolute; }
      .container2 .row-3 .first .box2 img:nth-child(1) {
        left: 60px; }
      .container2 .row-3 .first .box2 img:nth-child(2) {
        /*heart*/
        left: 113px;
        top: 68px; }
    .container2 .row-3 .four .box2 img {
      position: absolute; }
      .container2 .row-3 .four .box2 img:nth-child(1) {
        left: 60px; }
      .container2 .row-3 .four .box2 img:nth-child(2) {
        /*diamond*/
        left: 105px;
        top: 68px; }
    .container2 .row-3 .seven .box2 img {
      position: absolute; }
      .container2 .row-3 .seven .box2 img:nth-child(1) {
        left: 60px; }
      .container2 .row-3 .seven .box2 img:nth-child(2) {
        /*cup*/
        left: 120px;
        top: 68px; }
    .container2 .row-3 .seven .box2 h3 {
      left: 87px; }
    .container2 .row-3 .ten .box2 img {
      position: absolute; }
      .container2 .row-3 .ten .box2 img:nth-child(1) {
        left: 60px; }
      .container2 .row-3 .ten .box2 img:nth-child(2) {
        /*phone*/
        left: 125px;
        top: 68px; }

/* {box-sizing:border-box;
    font-family:lato, sans-serif;
}*/
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid lightblue;
  min-height: 1px;
  box-sizing: border-box;
  height: 100%; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

@media (max-width: 900px) {
  .col-1 {
    width: 20%; } }
@media (max-width: 400px) {
  .col-1 {
    width: 70%; } }

/*# sourceMappingURL=bhaga.css.map */
