@charset "UTF-8";
.main {
  background-image: url("C:/Users/rafalix/Coderslab/projekty/Bhaga/images/main_picture-1.jpg");
  background-size: cover;
  background-position: center;
  height: 68.75em; }
  .main .grid {
    height: 100%;
    position: relative;
    width: 100%;
    max-width: 1200px;
    /*vertical - ustawianie w linii pionowej*/
    /*ustawianie w linii poziomej*/ }
    .main .grid .mid {
      /*┼Ťrodkowe kszta┼éty*/ }
      .main .grid .mid .box {
        position: absolute;
        top: 34em;
        width: 10.4em;
        height: 11.3em; }
        .main .grid .mid .box img {
          position: absolute; }
          .main .grid .mid .box img:nth-child(2) {
            top: 2.1em; }
        .main .grid .mid .box p {
          top: 6em; }
    .main .grid .bot {
      /*dolne kszta┼éty*/ }
      .main .grid .bot .box {
        position: absolute;
        top: 46.56em;
        width: 10.4em;
        height: 11.3; }
        .main .grid .bot .box img {
          position: absolute;
          top: 0.06em; }
          .main .grid .bot .box img:nth-child(2) {
            top: 2.1em; }
        .main .grid .bot .box p {
          top: 6em; }
    .main .grid .mid p, .main .grid .bot p {
      position: absolute;
      font-family: lato, sans-serif;
      font-size: 20px;
      color: white; }
    .main .grid .first .box img:nth-child(2) {
      left: 3.5em; }
    .main .grid .first .box p {
      left: 3em; }
    .main .grid .second {
      /*napisy*/ }
      .main .grid .second .jumbotron {
        position: absolute;
        top: 18.75em;
        left: 4.37em;
        width: 66.85em;
        height: 8.43em; }
        .main .grid .second .jumbotron h1 {
          color: white;
          font-family: Lato(400), sans-serif;
          font-weight: lighter;
          font-size: 2.43em;
          margin-left: 6.5em; }
        .main .grid .second .jumbotron h2 {
          color: white;
          font-size: 1.37em;
          margin-left: 5em;
          padding: 1.25em;
          text-align: center; }
    .main .grid .third .box img:nth-child(2) {
      left: 3.5em; }
    .main .grid .third .box p {
      left: 3em; }
    .main .grid .four img {
      position: absolute;
      top: 7.81em;
      left: 22.5em; }
    .main .grid .five .box img:nth-child(2) {
      left: 3.62em; }
    .main .grid .five .box p {
      left: 2.6em; }
    .main .grid .seven .box img:nth-child(2) {
      left: 3.5em; }
    .main .grid .seven .box p {
      left: 2.6em; }
    .main .grid .six .box {
      position: absolute;
      top: 57.87em;
      left: 34.81em;
      width: 5.5em;
      height: 5.75em; }
      .main .grid .six .box img {
        position: absolute;
        width: 5.5em;
        height: 5.75em; }
      .main .grid .six .box #arrow {
        width: 2.18em;
        height: 1.25em;
        position: absolute;
        top: 2.5em;
        left: 1.56em; }
    .main .grid .nine .box img:nth-child(2) {
      left: 3.5em; }
    .main .grid .nine .box p {
      left: 3.25em; }
    .main .grid .eleven .box img:nth-child(2) {
      left: 3.5em; }
    .main .grid .eleven .box p {
      left: 2.7em; }

nav {
  width: 100%;
  height: 145px;
  position: relative;
  font-family: lato;
  color: #8D8D8D;
  font-size: 20px; }
  nav .row2 {
    height: 100%;
    max-width: 1200px; }
    nav .row2 .six p, nav .row2 .seven p, nav .row2 .eight p, nav .row2 .nine p, nav .row2 .ten p, nav .row2 .eleven p, nav .row2 .twelve p {
      position: absolute;
      top: 68px;
      color: #8D8D8D; }
    nav .row2 .first img {
      position: absolute;
      top: 65px;
      left: 15px; }
    nav .row2 .six p {
      margin-left: -15px; }
    nav .row2 .seven p {
      color: #9E459A;
      margin-left: -25px; }
    nav .row2 .eight p {
      margin-left: -31px; }
    nav .row2 .nine p {
      margin-left: -55px; }
    nav .row2 .ten p {
      margin-left: -37px; }
    nav .row2 .eleven p {
      margin-left: 1px; }
    nav .row2 .twelve p {
      margin-left: -18px; }

.container2 .row-3 .first .box2, .container2 .row-3 .four .box2, .container2 .row-3 .seven .box2, .container2 .row-3 .ten .box2 {
  position: relative;
  top: 168px;
  left: -15px;
  width: 295px;
  height: 415px; }

.container2 .row-3 .first .box2 h3, .container2 .row-3 .four .box2 h3, .container2 .row-3 .seven .box2 h3, .container2 .row-3 .ten .box2 h3 {
  position: absolute;
  top: 230px;
  left: 67px;
  color: #8D8D8D;
  font-size: 22px;
  font-family: lato; }

.container2 .row-3 .first .box2 p, .container2 .row-3 .four .box2 p, .container2 .row-3 .seven .box2 p, .container2 .row-3 .ten .box2 p {
  position: absolute;
  top: 260px;
  color: #8D8D8D;
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
  text-indent: 5px;
  line-height: 28px; }

.container2 {
  height: 800px;
  background-color: #EEEEEE; }
  .container2 .row-3 {
    width: 100%;
    max-width: 1200px;
    height: 100%; }
    .container2 .row-3 .first .box2 img {
      position: absolute; }
      .container2 .row-3 .first .box2 img:nth-child(1) {
        left: 60px; }
      .container2 .row-3 .first .box2 img:nth-child(2) {
        /*heart*/
        left: 113px;
        top: 68px; }
    .container2 .row-3 .four .box2 img {
      position: absolute; }
      .container2 .row-3 .four .box2 img:nth-child(1) {
        left: 60px; }
      .container2 .row-3 .four .box2 img:nth-child(2) {
        /*diamond*/
        left: 105px;
        top: 68px; }
    .container2 .row-3 .seven .box2 img {
      position: absolute; }
      .container2 .row-3 .seven .box2 img:nth-child(1) {
        left: 60px; }
      .container2 .row-3 .seven .box2 img:nth-child(2) {
        /*cup*/
        left: 120px;
        top: 68px; }
    .container2 .row-3 .seven .box2 h3 {
      left: 87px; }
    .container2 .row-3 .ten .box2 img {
      position: absolute; }
      .container2 .row-3 .ten .box2 img:nth-child(1) {
        left: 60px; }
      .container2 .row-3 .ten .box2 img:nth-child(2) {
        /*phone*/
        left: 125px;
        top: 68px; }

.container3 {
  height: 64em; }
  .container3 .row-3 {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    position: relative; }
    .container3 .row-3 .first img {
      margin-top: 23.75em; }
    .container3 .row-3 .five .aboutBox {
      position: absolute;
      top: 8em;
      left: 29em;
      width: 16.85em;
      height: 7.18em; }
    .container3 .row-3 .five .aboutBox span {
      font-size: 50px;
      font-weight: bold;
      color: #9E459A; }
    .container3 .row-3 .five .aboutBox .verRight {
      margin-top: -0.5em;
      margin-left: 5.4em;
      display: block; }
    .container3 .row-3 .five .aboutBox .verLeft {
      margin-top: 23px;
      margin-left: -5px;
      display: block; }
    .container3 .row-3 .five .aboutBox .horRight {
      margin-top: -167px;
      margin-left: 223px;
      display: block; }
    .container3 .row-3 .five .aboutBox .horLeft {
      display: block;
      margin-top: -50px;
      margin-left: 2px; }
    .container3 .row-3 .five .aboutBox p {
      color: #8D8D8D;
      font-size: 47px;
      display: inline-block;
      position: absolute;
      top: 25px;
      left: 38px; }
      .container3 .row-3 .five .aboutBox p span {
        color: #9E459A; }
    .container3 .row-3 .eight .rightBox {
      position: relative;
      top: 372px;
      width: 487px;
      height: 415px; }
      .container3 .row-3 .eight .rightBox p {
        font-size: 17px;
        color: #8D8D8D;
        font-family: lato;
        line-height: 35px; }
      .container3 .row-3 .eight .rightBox button {
        width: 228px;
        height: 75px;
        background-color: #9E459A;
        border-radius: 10px;
        margin-top: 100px;
        color: white;
        font-family: lato, sans-serif;
        font-size: 19px;
        -moz-box-shadow: -0px -5px 0 0px #6B2E68 inset;
        -webkit-box-shadow: -0px -5px 0 0px   #6B2E68 inset;
        box-shadow: -0px -5px 0 0px #6B2E68 inset; }

.bottom_photo {
  background-image: url("C:/Users/rafalix/Coderslab/projekty/Bhaga/images/section_about_background_image.jpg");
  background-size: cover;
  background-position: center;
  height: 39em; }

.bottom_photo {
  position: relative; }
  .bottom_photo .row-4 {
    height: 100%;
    width: 100%;
    max-width: 1200px; }
    .bottom_photo .row-4 .third .box3 {
      height: 4.125em;
      width: 47.5em;
      position: absolute;
      top: 23.75em; }
      .bottom_photo .row-4 .third .box3 p {
        color: #FFFFFF;
        font-size: 48px;
        font-family: lato;
        margin-left: 10px;
        text-align: center; }
    .bottom_photo .row-4 .six img {
      position: absolute; }
      .bottom_photo .row-4 .six img:nth-child(1) {
        top: 9.375em; }
      .bottom_photo .row-4 .six img:nth-child(2) {
        top: 13.125em;
        left: 35.3125em; }

.our_team {
  width: 100%;
  height: 1120px;
  position: relative; }
  .our_team .row-5 {
    width: 100%;
    max-width: 1200px;
    height: 50%; }
    .our_team .row-5 .five .aboutBox {
      /*Our team box*/
      position: absolute;
      top: 127px;
      left: 465px;
      width: 270px;
      height: 115px; }
      .our_team .row-5 .five .aboutBox span {
        font-size: 50px;
        font-weight: bold;
        color: #9E459A; }
      .our_team .row-5 .five .aboutBox .verRight {
        margin-top: -0.5em;
        margin-left: 267px;
        display: block; }
      .our_team .row-5 .five .aboutBox .verLeft {
        margin-top: 23px;
        margin-left: -5px;
        display: block; }
      .our_team .row-5 .five .aboutBox .horRight {
        margin-top: -167px;
        margin-left: 223px;
        display: block; }
      .our_team .row-5 .five .aboutBox .horLeft {
        display: block;
        margin-top: -50px;
        margin-left: 2px; }
      .our_team .row-5 .five .aboutBox p {
        color: #8D8D8D;
        font-size: 47px;
        display: inline-block;
        position: absolute;
        top: 25px;
        left: 38px; }
        .our_team .row-5 .five .aboutBox p span {
          color: #9E459A; }
    .our_team .row-5 .six img:nth-child(1), .our_team .row-5 .seven img:nth-child(1) {
      width: 67px;
      height: 72px;
      position: absolute;
      top: 400px; }
    .our_team .row-5 .six img:nth-child(2), .our_team .row-5 .seven img:nth-child(2) {
      width: 17px;
      height: 23px;
      margin-top: 410px;
      margin-left: 25px; }
    .our_team .row-5 .six img:nth-child(2) {
      transform: rotate(180deg);
      margin-left: 20px; }
  .our_team .row-6 {
    width: 100%;
    max-width: 1200px;
    height: 50%; }
    .our_team .row-6 .circle {
      width: 250px;
      height: 250px;
      background-color: #CDCDCD;
      border-radius: 50%;
      margin-top: 60px;
      margin-left: 56px; }
    .our_team .row-6 .textBox {
      width: 293px;
      height: 150px;
      margin-top: 60px;
      margin-left: 56px;
      margin-left: 30px;
      text-align: center;
      font-family: lato; }
      .our_team .row-6 .textBox h2 {
        font-size: 23px;
        color: #484848;
        margin-top: 15px; }
      .our_team .row-6 .textBox h3 {
        font-size: 18px;
        color: #ACACAC;
        margin-top: 15px; }
      .our_team .row-6 .textBox img {
        margin-top: 5px;
        padding: 13px; }

.skils {
  width: 100%;
  height: 820px;
  position: relative; }
  .skils .row-6 {
    width: 100%;
    max-width: 1200px;
    height: 100%; }
    .skils .row-6 .second .container, .skils .row-6 .seven .container {
      width: 430px;
      margin-top: 400px;
      margin-left: 20px; }
      .skils .row-6 .second .container h2, .skils .row-6 .seven .container h2 {
        color: black;
        font-size: 20px;
        font-weight: bold;
        font-family: lato, sans-serif;
        padding: 20px; }
        .skils .row-6 .second .container h2 span, .skils .row-6 .seven .container h2 span {
          float: right;
          color: #484848;
          font-weight: lighter; }
      .skils .row-6 .second .container .progress, .skils .row-6 .seven .container .progress {
        width: 425px;
        height: 25px; }
        .skils .row-6 .second .container .progress .color, .skils .row-6 .seven .container .progress .color {
          background: #9E459A;
          color: #9E459A; }
    .skils .row-6 .five .aboutBox {
      /*Our team box*/
      position: absolute;
      top: 127px;
      left: 465px;
      width: 270px;
      height: 115px; }
      .skils .row-6 .five .aboutBox span {
        font-size: 50px;
        font-weight: bold;
        color: #9E459A; }
      .skils .row-6 .five .aboutBox .verRight {
        margin-top: -0.5em;
        margin-left: 267px;
        display: block; }
      .skils .row-6 .five .aboutBox .verLeft {
        margin-top: 23px;
        margin-left: -5px;
        display: block; }
      .skils .row-6 .five .aboutBox .horRight {
        margin-top: -167px;
        margin-left: 223px;
        display: block; }
      .skils .row-6 .five .aboutBox .horLeft {
        display: block;
        margin-top: -50px;
        margin-left: 2px; }
      .skils .row-6 .five .aboutBox p {
        color: #8D8D8D;
        font-size: 47px;
        display: inline-block;
        position: absolute;
        top: 25px;
        left: 38px; }
        .skils .row-6 .five .aboutBox p span {
          color: #9E459A; }

.services {
  width: 100%;
  height: 910px;
  position: relative;
  background-color: #EEEEEE; }
  .services .row-8 {
    width: 100%;
    max-width: 1200px;
    height: 100%; }
    .services .row-8 .second .jumbotron, .services .row-8 .five .jumbotron, .services .row-8 .ten .jumbotron, .services .row-8 .eight .jumbotron {
      width: 195px;
      height: 110px;
      margin-top: 150px;
      margin-left: -45px;
      text-align: center;
      font-family: lato, sans-serif; }
      .services .row-8 .second .jumbotron h3, .services .row-8 .five .jumbotron h3, .services .row-8 .ten .jumbotron h3, .services .row-8 .eight .jumbotron h3 {
        font-size: 54px; }
      .services .row-8 .second .jumbotron p, .services .row-8 .five .jumbotron p, .services .row-8 .ten .jumbotron p, .services .row-8 .eight .jumbotron p {
        font-size: 16px;
        padding: 10px;
        color: #ACACAC; }
    .services .row-8 .five .jumbotron {
      margin-left: -60px; }
    .services .row-8 .eight .jumbotron {
      margin-left: -80px; }
    .services .row-8 .ten .jumbotron {
      margin-left: -15px; }

/* {box-sizing:border-box;
    font-family:lato, sans-serif;
}*/
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid lightblue;
  min-height: 1px;
  box-sizing: border-box;
  height: 100%; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

@media (max-width: 900px) {
  .col-1 {
    width: 20%; } }
@media (max-width: 400px) {
  .col-1 {
    width: 70%; } }

/*# sourceMappingURL=bhaga.css.map */
