.about { 
    height:100%;
    width:auto;
      
    
.row {
    @extend %row_position;
    padding-top:3em;
     
    &:first-child{
        padding-top:4em;
    }  
   
    @import "about_Box"; //nagłówek sekcji
    
    .mockup{ //zdjęcie 
         img{
        padding:2em;
        margin:0 0 4em 0;     
         }
     }
        
    .text{
       padding:0 0 4em 0;     
         p{
          font-size:1.2rem;
          color:#8D8D8D;
          font-family:lato;
          line-height:2em;
          text-align:left;
          padding: 1em;
         }
            button{
                width:13em;
                height:4em;
                background-color: #9E459A;
                border-radius:1em;  
                -moz-box-shadow: -0px -5px 0 0px #6B2E68 inset;
                -webkit-box-shadow: -0px -5px 0 0px   #6B2E68 inset;
                box-shadow: -0px -5px 0 0px #6B2E68 inset;
                a{
                    color:white;
                font-family:lato, sans-serif;
                font-size:1rem;
                           
                }
             }
          
       }
        
  }
}
             

.bottom_photo{
   background-image: url("C:/Users/rafalix/Coderslab/projekty/Bhaga/images/section_about_background_image.jpg");
    background-position: center;
    width:auto;
    .row{
        @extend %row_position;
        .shape{
            padding:3em;
            margin-top:2em;
            @extend %background_position;
            background-image:url(../images/empty_shape.png);        
            img{
               margin: auto;         
                  }
        }
        .text{
           text-align: center;
           padding:1em;
            margin-bottom:1em;
           font-size:2rem;
           color:white;
           font-family: lato;
            }
     }  
    
 }






