.container3{ 
    height:64em;
    
.row-3{
    width:100%;
    max-width:1200px;
    height:100%;
    position:relative;
    .first{
        img{
            margin-top:23.75em;
        } 
    }
    %aboutBox{
         position:absolute;
         top:8em;
          left:29em;
          width:16.85em;
          height:7.18em;
         
    }
    
    %span{
        font-size:50px;
        font-weight:bold; 
        color:#9E459A;
       
    }
    
    .five{
        .aboutBox{
          @extend %aboutBox;
         
            span{
              @extend %span;  
            }
            .verRight{
              margin-top:-0.5em;
              margin-left:5.4em;
              display: block;
            }
            .verLeft{  
               margin-top:23px;
               margin-left:-5px;
               display: block;
            }    
            .horRight{ 
               margin-top:-167px;
               margin-left:223px;
               display: block;
            }   
            .horLeft{
              display: block;
               margin-top:-50px;
               margin-left:2px;
            }
            p{
             color:#8D8D8D;
             font-size:47px;
             display:inline-block;    
              position:absolute;
                top:25px;
                left:38px;
                & span{
                    color:#9E459A;
                }    
                
            }
         }
    }
    .eight{
        .rightBox{
            position:relative;
            top:372px;
            width:487px;
            height:415px;
            p{
                font-size:17px;
                color:#8D8D8D;
                font-family:lato;
                line-height:35px;
            }
            button{
                width:228px;
                height:75px;
                background-color: #9E459A;
                border-radius:10px;
                margin-top:100px;
                color:white;
                font-family:lato, sans-serif;
                font-size:19px;
                -moz-box-shadow: -0px -5px 0 0px #6B2E68 inset;

                -webkit-box-shadow: -0px -5px 0 0px   #6B2E68 inset;

                box-shadow: -0px -5px 0 0px #6B2E68 inset;
            }
            
        }
    }    
    
    }
}
%backgroundPicture{
     background-image: url("C:/Users/rafalix/Coderslab/projekty/Bhaga/images/section_about_background_image.jpg");   
     background-size:cover;
     background-position:center;
     height:39em;
}
.bottom_photo{
   @extend %backgroundPicture;
    position:relative;
    .row-4{
        height:100%;
        width:100%;
        max-width:1200px;
        .third{
            .box3{
                height:4.125em;
                width:47.5em;
                position:absolute;
                top:23.75em;
                p{
                    color:#FFFFFF;
                    font-size:48px;
                    font-family:lato;
                    margin-left:10px;
                    text-align: center;
                }
            }
        }
          
     
        .six{
            img{
                position:absolute;
                &:nth-child(1){
                    top:9.375em;
                }
                &:nth-child(2){
                    top:13.125em;
                    left:35.3125em;
                }
            }
        }  
        
    }
}