.about{ 
    height:100%;
    width:auto;
   
    
    
.row{
    margin:0 auto;
    width:100%;
    max-width:1200px;
    height:100%;
   
   
    .aboutBox{
        padding:2em;
         text-align: center;
       
        
        
            p{
             color:#8D8D8D;
             font-size:3rem;
             text-align: center;    
             
              
               
                & span{
                    color:#9E459A;
                }    
          
                 
          }
    }
    img{
        padding:3em;
    }
    }
    
    .row{
        .text{
          
            
             p{
                font-size:17px;
                color:#8D8D8D;
                font-family:lato;
                line-height:2em;
                 text-align: center;
                 padding: 2em;
            }
            button{
                width:228px;
                height:75px;
                background-color: #9E459A;
                border-radius:10px;
              
                color:white;
                font-family:lato, sans-serif;
                font-size:19px;
                -moz-box-shadow: -0px -5px 0 0px #6B2E68 inset;

                -webkit-box-shadow: -0px -5px 0 0px   #6B2E68 inset;

                box-shadow: -0px -5px 0 0px #6B2E68 inset;
            }
        }
        
        
        
    }
    
    
        
         
        
    }    
    
    




%backgroundPicture{
     background-image: url("C:/Users/rafalix/Coderslab/projekty/Bhaga/images/section_about_background_image.jpg");   
     background-size:cover;
     background-position:center;
     height:39em;
}
.bottom_photo{
   @extend %backgroundPicture;
    position:relative;
    .row-4{
        height:100%;
        width:100%;
        max-width:1200px;
        .third{
            .box3{
                height:4.125em;
                width:47.5em;
                position:absolute;
                top:23.75em;
                p{
                    color:#FFFFFF;
                    font-size:48px;
                    font-family:lato;
                    margin-left:10px;
                    text-align: center;
                }
            }
        }
          
     
        .six{
            img{
                position:absolute;
                &:nth-child(1){
                    top:9.375em;
                }
                &:nth-child(2){
                    top:13.125em;
                    left:35.3125em;
                }
            }
        }  
        
    }
}