.main {
  
  background-image: url("C:/Users/rafalix/Coderslab/projekty/Bhaga/images/main_picture-1.jpg");   
  background-size:cover;
  background-position:center;
  height:68.75em;
    
    
  .grid {
        height:100%;
        position:relative;
        width:100%;
        max-width:1200px;
       
        
      /*vertical - ustawianie w linii pionowej*/  
    .mid{ /*środkowe kształty*/
      .box{
         position:absolute;
         top:34em;
         width:10.4em;
         height:11.3em;
        
       img{
        position:absolute;
        &:nth-child(2){
        top:2.1em;              
                      }
           }        
        p{
          top:6em;  
         }
         
       }
     } 
        
     .bot { /*dolne kształty*/
         .box{
         position:absolute;
         top:46.56em;
         width:10.4em;
         height:11.3;
            
        img { 
          position:absolute;
          top: 0.06em;
          &:nth-child(2){
          top:2.1em;              
              }
            }
          p{
          top:6em;  
        }
          }
          }
     
      .mid, .bot{
          p{
          position:absolute;    
          font-family:lato, sans-serif;
          font-size: 20px;
          color:white;  
           } 
     }
     /*ustawianie w linii poziomej*/
     .first { 
         .box{
         img:nth-child(2){
             left:3.5em;}
         p {
             left:3em;
         }
         }
       }  
     .second{ /*napisy*/
          .container{
              position:absolute;
              top:18.75em;
              left:4.37em;
              width:66.85em;
              height:8.43em;
             
             h1{
            color:white;
             font-family: Lato(400), sans-serif;
              font-weight:lighter;  
             font-size:2.43em;
             margin-left:6.5em;     
    
             }
              h2{
                color:white;
                font-size:1.37em;
                margin-left:5em;  
                padding:1.25em;
                text-align:center;  
                  
              }
         }
         
     }
     .third {
        
         .box{
         img:nth-child(2){
             left:3.5em;}
         p {
             left:3em;
         }
         }
       } 
     
     .four {
         img{
             position:absolute;
             top:7.81em;
             left:22.5em;
             
         } 
         
     }
     .five {
         .box{
         img:nth-child(2){
             left:3.62em;}
         p {
             left:2.6em;
         }
         }
       } 
     .seven {
         .box{
         img:nth-child(2){
             left:3.5em;}
         p {
             left:2.6em
         }
         }
       }  
      
      .six {
          .box{
             
             position:absolute; 
             top:57.87em;
             left:34.81em;   
             width:5.5em;
             height:5.75em;
             img {
               position:absolute;
               width:5.5em;
               height:5.75em;
              
                 }
            #arrow {
                  
                  width:2.18em;
                  height:1.25em;
                  position:absolute;
                  top:2.5em;
                  left:1.56em;
              }
              
          }
      }
     .nine {
         .box{       
         img:nth-child(2){
             left:3.5em;}
          p {
             left:3.25em;
         }
         }
       }  
      .eleven {
          .box{
         img:nth-child(2){
             left:3.5em;}
         p {
             left:2.7em;
         }
       } 
     }
  }
}