

.portfolio {
  width:auto;
  height:100%;
  background-color:#FFFFFF;
    
    .row {
       @extend %row_position; 
       @import "about_Box";
         &:first-child{
        padding-top:4em;
    }  
                               
        .rect {
            box-sizing:border-box;
            border:1px solid black;
            padding:0.7em;
            width:5em;
            border-radius:8px;
            margin-left:-0.5em;
            margin-top:2em;
            margin-bottom:2em;
               p{
                   text-align: center;
                   font-size:1.3rem; 
               }
           }
       .all{
            background-color: #9E459A;
            border-color:#9E459A;
            color:white;
          }
        
        img{
            width:18em;
            height:18em;
            margin:0 auto;
        }
        
        .textBox{
            padding:1em;
            margin:auto;
            text-align:center;
                   
              h2{
                font-size:1.5rem;  
                }
              p{
                font-size:1rem;
                color:#CDCDCD;
                    }   
                }
       
     button{
         @extend %button;
             
        }
        
      
        
        
    }
}