.services {
  width:auto;
  height:100%;    
 
  
  background-color:#EEEEEE;
    
    .row {
        width:100%;
        max-width:1200px;
        height:100%;
        margin:0 auto;
        
        .jumbotron{
                width:195px;
                height:110px;
                text-align: center;
                font-family:lato, sans-serif;
                h3{
                    font-size:54px;
                }
                p{
                    font-size:16px;
                    padding:10px;
                    color:#ACACAC;
                }
            }
        
          .text {
                
               
                height:220px;
                width:960px;
                font-family:lato, sans-serif;
                color:#484848;
                text-align: center;
                h2{
                    text-indent:10px; 
                    font-size:30px;
                }
                p{
                    font-size:17px;
                    margin-top:10px;
                    font-weight:bold;
                }
                .spanBox{
                    margin-left:-18px;
                span{
                    
                    box-sizing: border-box;
                    display:inline-block;
                    width:11px;
                    height:11px;
                    border-radius:50%;
                    border:1px solid grey;
                    margin-top:20px;
                    margin-left:-35px;
                     &:nth-child(4){
                        background-color: #484848;
                    }   
                 }
                   
               } 
              }
         .circle {
               
            width:150px;
            height:150px;
             background-color:#CDCDCD;
             border-radius:50%;
            
            }
       /* .second, .five, .ten, .eight {
            .jumbotron{
               
                width:195px;
                height:110px;
                margin-top:150px;
                margin-left:-45px;
                text-align: center;
                font-family:lato, sans-serif;
                h3{
                    font-size:54px;
                }
                p{
                    font-size:16px;
                    padding:10px;
                    color:#ACACAC;
                }
            }
        }
        
          .second{
            .text {
                margin-top:340px;
                margin-left:40px;
                height:220px;
                width:960px;
                font-family:lato, sans-serif;
                color:#484848;
                text-align: center;
                h2{
                    text-indent:10px; 
                    font-size:30px;
                }
                p{
                    font-size:17px;
                    margin-top:10px;
                    font-weight:bold;
                }
                .spanBox{
                    margin-left:-18px;
                span{
                    
                    box-sizing: border-box;
                    display:inline-block;
                    width:11px;
                    height:11px;
                    border-radius:50%;
                    border:1px solid grey;
                    margin-top:20px;
                    margin-left:-35px;
                     &:nth-child(4){
                        background-color: #484848;
                    }   
                 }
                   
               } 
              }
        }
        .five{
            .jumbotron{
                margin-left:40px;
            }
        }
        .six{
            .circle {
               
            width:150px;
            height:150px;
             background-color:#CDCDCD;
             border-radius:50%;
             margin-top:396px;
             margin-left:110px;
            }
        }
         .eight{
            .jumbotron{
                margin-left:10px;
                }
          }
          .ten{
            .jumbotron{
                margin-left:75px;
            }
        }
        
     */   
        
  }
}