.services {
  width:auto;
  height:100%;     
  background-color:#EEEEEE;
    
    .row {
        @extend %row_position;
        
        .digit {    
             margin-top:6em;
             text-align: center;
             font-family:lato, sans-serif;
                h3 {
                  font-size:4rem;   
                }
                p {
                    font-size:1.2rem;
                    padding:2em;
                    color:#ACACAC;
                }
            }
         .circle {
            margin:auto; 
            width:10em;
            height:10em;
             background-color:#CDCDCD;
             border-radius:50%; 
            }
        .text {
            color:#484848;
            text-align: center;
            padding:1em;
                h2{
                 font-size:2rem;
                }
                p{
                 font-size:1rem;
                 margin-top:1em;
                 font-weight:bold;
                 padding:1em;
                }
                  .spanBox{    
                    padding:2em;
                       span{
                         display:inline-block;
                         padding:0.3em;
                         margin-left:1em;
                         border-radius:50%;
                         border:0.1em solid grey;
                   
                         &:nth-child(4){
                            background-color: #484848;
                         }   
                      }
                   
                  } 
         }
        
      
        
  }
}