

.skils {
  width:100%;
  height:820px;
  position:relative;
    
    .row-7 {
        width:100%;
        max-width:1200px;
        height:100%;
        .second, .seven{
            .container{
                width:430px;
                margin-top:400px;
                margin-left:20px;
               
                h2{
                    color:black;
                    font-size:20px;
                    font-weight:bold;
                    font-family:lato, sans-serif;
                    padding:20px;
                    span {
                      float:right;
                      color:#484848;
                      font-weight:lighter;
                    }     
                }
                .progress{
                    width:425px;
                    height:25px;
                    .color{
                      background: #9E459A;
                      color:  #9E459A;
                     } 
                  
                  }
            } 
        }
        .five{
             .aboutBox{ /*Our skills box*/
          position:absolute;
          top:127px;
          left:465px;
          width:270px;
          height:115px;
           
            span{
             font-size:50px;
             font-weight:bold; 
             color:#9E459A;
            }
            .verRight{
              margin-top:-0.5em;
              margin-left:267px;
              display: block;
            }
            .verLeft{  
               margin-top:23px;
               margin-left:-5px;
               display: block;
            }    
            .horRight{ 
               margin-top:-167px;
               margin-left:223px;
               display: block;
            }   
            .horLeft{
              display: block;
               margin-top:-50px;
               margin-left:2px;
            }
            p{
             color:#8D8D8D;
             font-size:47px;
             display:inline-block;    
              position:absolute;
                top:25px;
                left:38px;
                & span{
                    color:#9E459A;
                }    
                
              }
            }
         }
        
        
        
    }
}