

.skils {
  width:100%;
 height:auto;
    .row {
        width:100%;
        max-width:1200px;
        height:100%;
        margin:0 auto;
        .aboutBox{
            
             margin:0 auto;
            margin-top:3em;
            padding:1em;
        
        .topL {
        
            width:100%;
            height:2em ;   
                
        background-image: url(../images/L-shape.png);   
        background-repeat: no-repeat;
        background-position:left;
        transform:rotate(180deg); 
            }        
        
        .botL{
             
             width:100%;
            height:2em ;  
        background-image: url(../images/L-shape.png);   
        background-repeat: no-repeat;
         
          
        }
        
         p{
             text-align: center;
             color:#8D8D8D;
             font-size:3rem;
             padding:0.3em;
               
             
              
               
            & span{
                    color:#9E459A;
                }    
          
                 
          }
            
            
        }
        
         .container{
                width:430px;
                margin-top:3em;
               
                h2{
                    color:black;
                    font-size:20px;
                    font-weight:bold;
                    font-family:lato, sans-serif;
                    padding:20px;
                    span {
                      float:right;
                      color:#484848;
                      font-weight:lighter;
                    }     
                }
                .progress{
                    width:425px;
                    height:25px;
                    .color{
                      background: #9E459A;
                      color:  #9E459A;
                     } 
                  
                  }
            } 
        /*.second, .seven{
            .container{
                width:430px;
                margin-top:400px;
                margin-left:20px;
               
                h2{
                    color:black;
                    font-size:20px;
                    font-weight:bold;
                    font-family:lato, sans-serif;
                    padding:20px;
                    span {
                      float:right;
                      color:#484848;
                      font-weight:lighter;
                    }     
                }
                .progress{
                    width:425px;
                    height:25px;
                    .color{
                      background: #9E459A;
                      color:  #9E459A;
                     } 
                  
                  }
            } 
        }
        
        
        */
        
    }
}