@import "placeholder";
@import "main_section";
@import "nav_section";
@import "about_section";
@import "our_team";
@import "skills_section";
@import "services_section";
@import "portfolio";
@import "form_section";

body {
    height:100%;
    font-family:lato, sans-serif;
    box-sizing: border-box;
    
 }


[class*="col-"] {
   
    min-height: 1em;
}

.sticky{
    position:fixed;
    top:0;
    left:0;
}


    
   

